extends layout

block content
  body#bodyLayout(onload="configLogPage()")
    div.menu()
        // add user form
        form(class="login", name='adduser', action='/user/register', method='post', accept-charset='utf-8')
            input(type='text', name='fl_name', placeholder='first & last name')
            input(type='text', name='email', placeholder='email@email.com')
            input(type='password', name='password', placeholder='Password')
            input(type='password', name='password_confirmation', placeholder='Password confirmation')
            button(type='submit', value='Submit', class="submitButton sign-up-submit")
              span(class="state") Submit
            button(class="cancelButton", type='button' onclick='closeSignInForm()' value='Cancel', background="red")
              span(class="state") Cancel

    div#mainContent(class="wrapper")
      if errormsg
        each error, i in errormsg
          p(class="validation-error")=error
      // login form
      form#loginForm(action="/user/login", class="login", name="loginForm", method="post")
        p(class="title") Log in
        input#inputEmail(type="text", placeholder="Email", name="email", autofocus)
        i(class="fa")
        input#inputPassword(type="password", placeholder="Password", name="password")
        i(class="fa")
        button#btnSubmit(class="loginButton log-in-submit", type="submit")
          i(class="spinner")
          span(class="state") Log in
        button#btnSignin(class="signinButton", type="button", onclick="openSignInForm()")
          i(class="spinner")
          span(class="state") Sign up
          
      form(action="/task/create" , name='createtask',  method='post', class="login", accept-charset='utf-8')
        input(type='text', name='title', placeholder='Title', required, autofocus)
        input(type='text', name='description', placeholder='Description', required)
        input(type='text', name='colaborator1', placeholder='colaborator1@email.com')
        input(type='text', name='colaborator2', placeholder='colaborator2@email.com')
        input(type='text', name='colaborator3', placeholder='colaborator3@email.com')
        button(type='submit', value='Submit' class="submitButton")
          span(class="state") Submit
        button(type='button' onclick='closeCreateTaskForm()' value='Cancel' class="cancelButton")
          span(class="state") Cancel
          
  footer
    a(href="/user/logout") Log out
  script(type='text/javascript').
    function configLogPage(){
      //var errormsg = "#{errormsg}";
      //if(errormsg.length > 0){
      //  alert(errormsg);
      //}
    }
    
    function closeSignInForm() {
      $('.menu').animate({
          left: "-350px"
      }, 200);
    }
    
    function openSignInForm() {
        $('.menu').animate({
            left: "37.37%"
        }, 200);
    }
  
  script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')